.mori {
	--bg-color: #171717 !important;
	--font-color: #ededed !important;
	--hl-color: #da0037 !important;
	--fg-color: #444444 !important;
}

.chloe {
	--bg-color: #514f4d !important;
	--font-color: #f9d2c4 !important;
	--hl-color: #ce4b4a !important;
	--fg-color: #d3c8c7 !important;
}

.okayu {
	--bg-color: #9534c1 !important;
	--font-color: #fcedff !important;
	--hl-color: #34393f !important;
	--fg-color: #a5a4ac !important;
}
